myworkflow.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{$json[\"body\"][\"name\"]}}"
            },
            {
              "name": "description",
              "value": "={{$json[\"body\"][\"description\"]}}"
            },
            {
              "name": "date",
              "value": "={{$json[\"body\"][\"date\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        700,
        440
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1gyrULINgsv_z0Kzs0InW1Zyq97HecrIsdUIbayetJ78",
        "options": {}
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        940,
        440
      ],
      "credentials": {
        "googleApi": {
          "id": "6",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "endpoint",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        440
      ],
      "webhookId": "497618f4-05b7-4d59-ba60-470ca7ade4df"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": 16
}